@model IEnumerable<TandheelkundigCentrum.Data.Models.Treatment>
@{
	ViewData["Title"] = "Behandelingen";
}

<div>
    <div class="d-flex flex-row justify-content-between">
        <h1 class="display-4">Behandelingen</h1>
        <div class="d-flex align-items-center">
            <a asp-action="Edit">
                <button type="button" class="btn btn-success">
                    <i class="bi bi-house-add"></i>
                    Behandeling Toevoegen
                </button>
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Behandelingnaam</th>
                <th scope="col">Behandelingsduur</th>
                <th scope="col">Behandelingskosten</th>
                <th scope="col">
                    <div class="d-flex flex-row float-end">
                    Bewerk
                    </div>
				</th>
				<th scope="col">
					<div class="d-flex flex-row float-end">
						Verwijder
					</div>
				</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var treatment in Model)
            {
                <tr>
                    <td scope="row">
                        <a asp-action="View" asp-route-id="@treatment.Id">
                            @treatment.Name
                        </a>
                    </td>
                    <td scope="row">
                        @treatment.Duration
                    </td>
                    <td scope="row">
                        <span>€</span>
                        @treatment.Price
                    </td>
                    <td>
                        <div class="d-flex flex-row float-end">
                            <a asp-action="Edit" asp-route-treatmentId="@treatment.Id">
                                <button type="button" class="btn btn-warning">
                                    <i class="bi bi-pencil-square"></i>
                                    Bewerk
                                </button>
                            </a>
                        </div>
					</td>
					<td>
						<div class="d-flex flex-row float-end">
							<a asp-action="Delete" asp-route-id="@treatment.Id">
								<button type="button" class="btn btn-danger">
									<i class="bi bi-trash"></i>
									Verwijder
								</button>
							</a>
						</div>
					</td>
                </tr>
            }
        </tbody>
    </table>
</div>