@using TandheelkundigCentrum.Data.Models
@using TandheelkundigCentrum.Services
@model List<User>
@{
    ViewData["Title"] = "Onze Medewerkers";
    var isAdmin = new JwtService().GetUserGroups(Context.Request.Cookies["Token"]).Contains(Group.GroupName.Admin);
    var colleagues = Model;
}

<div >
    <div class="d-flex flex-row justify-content-between">
        <h1 class="display-4">Onze Medewerkers</h1>
        @if (isAdmin)
        {
            <div class="d-flex align-items-center">
                <a asp-action="Create">
                    <button type="button" class="btn btn-success">
                        <i class="bi bi-person-add"></i>
                        Medewerker Toevoegen
                    </button>
                </a>
            </div>
        }
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Naam</th>
            <th scope="col">Email</th>
            @if (isAdmin)
            {
                <th scope="col">Groepen</th>
                <th scope="col">Bewerk</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var colleague in colleagues)
        {
            <tr>
                @if (isAdmin)
                {
                    <th scope="row">
                        <a asp-action="View" asp-route-id="@colleague.Id">
                            @colleague.Fullname
                        </a>
                    </th>
                }
                else
                {
                    <th scope="row">
                        @colleague.Fullname
                    </th>
                }
                <td>
                    @colleague.Email
                </td>
                @if (isAdmin)
                {
                    <th scope="row">
                        @colleague.Groups.Aggregate(string.Empty, (s, group) => $"{s}{group.Name}, ")
                    </th>
                    <td>
                        <div class="d-flex flex-row float-end">
                            <a asp-action="Edit" asp-route-colleagueId="@colleague.Id">
                                <button type="button" class="btn btn-warning">
                                    <i class="bi bi-pencil-square"></i>
                                    Bewerk
                                </button>
                            </a>
                        </div>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>